//MEDIDAS:
$anchuraGrid: 71.25rem;
$center: 0 auto;
$bordeEstandar: 8px;

//COLORES:
$colorPrincipalNaranja: #ff8e3c;
$colorSecundarioMagenta: #d9376e;
$colorBaseGrisClaro: #eff0f3;
$colorTipoNegra: #0d0d0d;
$colorTipoGris: #2a2a2a;
$colorBlancoRoto: #fffffe;

//FUENTES:
$fuenteBase: "Open Sans", sans-serif;
$fuenteHeadings: "Signika", sans-serif;
