.heading-primary {
  font-style: $fuenteHeadings;
  font-size: 3.4rem;
  font-weight: 600;
  letter-spacing: 1.5%;
}
.heading-secondary {
  font-style: $fuenteHeadings;
  font-size: 2.4rem;
  font-weight: 600;
  letter-spacing: 0.5%;
}
.heading-tertiary {
  font-style: $fuenteHeadings;
  font-size: 2.15rem;
  font-weight: 500;
  letter-spacing: 0.25%;
}
.heading-quaternary {
  font-style: $fuenteHeadings;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 0.25%;
}
.heading-quinary {
  font-style: $fuenteHeadings;
  font-size: 1.25rem;
  font-weight: 500;
  letter-spacing: 0.5%;
}
.heading-sextiary {
  font-style: $fuenteHeadings;
  font-size: 1.125rem;
  font-weight: 500;
  letter-spacing: 1.5%;
}
